<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin/home">LeKlBank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/admin/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/addCustomer">Add Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/allCustomers">Customer DB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/transfer">New Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login as user</a>
        </li>
        <li class="nav-item">
            <button class="button" (click) = 'logout()' >Logout</button>
        </li>
      </ul>
    </div>
  </nav>