<app-validation></app-validation>

<div *ngIf = 'loggedInUser' style="margin-left: 3%">
<app-user-navbar></app-user-navbar>
<p>
  Welcome, {{loggedInUser.firstName}}!
</p> <br>
<b>Your balance: </b> ${{loggedInUser.accountList[0].balance.toFixed(2)}}<br><br><br>
<b>Customer details:</b><br>
<b>Name: </b>{{loggedInUser.firstName}} {{loggedInUser.lastName}}<br>
<b>Age: </b>{{loggedInUser.age}}<br>
<b>Address: </b>{{loggedInUser.address.street}} {{loggedInUser.address.number}}, {{loggedInUser.address.zipCode}} {{loggedInUser.address.city}}<br>
<b>Iban: </b>{{loggedInUser.accountList[0].iban.value}}<br>

<br>
<div>
  <b>Your transactions:</b><br>
  <ul *ngFor='let transaction of loggedInUser.accountList[0].transactions'>
    <li><b>Date: </b>{{ transaction.date | date :'short' }}</li>
    <li><b>Payer: </b>{{transaction.payer}}, {{transaction.payerIban}}</li>
    <li><b>Payee: </b>{{transaction.payee}}, {{transaction.payeeIban}}</li>
    <li><b>Amount: </b>${{transaction.amount}}</li>
  </ul>
</div>
</div>
